@import "tailwindcss";

@theme {
    /* Font families */
    --font-sans: 'Inter', sans-serif;
    --font-urbanist: 'Urbanist', sans-serif;

    /* Colors */
    --color-primary: #1EFF00;
    --color-secondary: #15B100;
}

@layer base {
    body {
        @apply bg-black text-white text-sm antialiased;
    }

    button {
        @apply cursor-pointer;
    }
}