@import "tailwindcss";

@theme {
  /* Font families */
  --font-sans: "Inter", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;

  /* Colors */
  --color-primary: #c2d6f5;
  --color-secondary: #dce9fb;
}

@layer base {
  body {
    @apply bg-blue-50 text-slate-800 text-sm antialiased;
  }

  button {
    @apply cursor-pointer rounded-full;
  }
}
